<div class="section destiny-wrapper">

  <div class="destiny-card">

    <span class="symbol">✨</span>

    <h2>Destiny</h2>

    <p class="opening">
      I may not be perfect,  
      but loving you feels like the perfect thing I have done💖
    </p>

     <p>
      I want to apologise if I ever hurted you or ever made you feel bad means.
    </p>

    <p>
      You are the girl I crave for all the time. The vibe we both share and the way we care for each other makes me fall for you more and more
    </p>
    <p>
      I promise to choose you,  
      not only on the easy, smiling days,  
      but even when life feels heavy  
      and the world feels too loud.
    </p>

    <p>
      I promise to listen when you speak,  
      understand when you feel,  
      and stand beside you  
      when you need strength more than words.
    </p>

    <div class="divider"></div>

    <p>
      Some people meet by chance,  
      some by coincidence  
      but some meetings are written quietly  
      long before they ever happen.
    </p>

    <p>
      From that first message,  
      to every moment that followed,  
      it always felt like something unseen  
      was gently guiding us toward each other.
    </p>

    <p class="highlight">
      Maybe it wasn’t luck.  
      Maybe it wasn’t timing.  
      Maybe it was destiny all along 💫
    </p>

    <p class="question">
     I love loving you, daily, deeply and endlessly💗
    </p>

    <span class="signature">
       Lots of love for you Preethu Ma💖
    </span>
    
    <span class="signature">
       Love you lotsss💞
    </span>

    <span class="signature">
       You are my favorite reason to smile every single day💕
    </span>

    <span class="signature">
       - Aviiii
    </span>
  </div>

</div>
