<div class="timeline-wrapper section">

  <h2 class="timeline-title">Our Story 🕰️</h2>

  <div class="timeline">

    <div class="timeline-item" *ngFor="let m of memories">
      <div class="timeline-dot"></div>

      <div class="timeline-card">
        <span class="timeline-date">{{ m.date }}</span>
        <h4>{{ m.title }}</h4>
        <p>{{ m.text }}</p>
      </div>
    </div>

  </div>

  <p class="timeline-note">
    As they say, every overthinking person needs an over-explainer  
    and somehow we became perfect at that💕 
    <br><br>
    Whenever I needed assurance, you gave it.  
    Whenever I asked you to explain, you did patiently and honestly.  
    <br><br>
    The way you trust me still amazes me Babe.   
    And today, I promise you one thing 
    I will never break that trust.  
    Because you know me…  
    I’m a man of my words ❤️
  </p>

</div>
